@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
 *, *:before, *:after {
	 box-sizing: border-box;
}
 .login-container {
	 position: absolute;
	 width: 83%;
	 height: 92%;
	 overflow: hidden;
}
 .login-container:hover .top:before, .login-container:active .top:before, .login-container:hover .bottom:before, .login-container:active .bottom:before, .login-container:hover .top:after, .login-container:active .top:after, .login-container:hover .bottom:after, .login-container:active .bottom:after {
	 margin-left: 200px;
	 transform-origin: -200px 50%;
	 transition-delay: 0s;
}
 .login-container:hover .center, .login-container:active .center {
	 opacity: 1;
	 transition-delay: 0.2s;
}
 .top:before, .bottom:before, .top:after, .bottom:after {
	 content: "";
	 display: block;
	 position: absolute;
	 width: 200vmax;
	 height: 200vmax;
	 top: 50%;
	 left: 50%;
	 margin-top: -100vmax;
	 transform-origin: 0 50%;
	 transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
	 z-index: 10;
	 opacity: 0.65;
	 transition-delay: 0.2s;
}
 .top:before {
	 transform: rotate(45deg);
	 background: #7fb790;
}
 .top:after {
	 transform: rotate(135deg);
	 background: #4d8357;
}
 .bottom:before {
	 transform: rotate(-45deg);
	 background: #556576 ;
}
 .bottom:after {
	 transform: rotate(-135deg);
	 background: #212c39;
}
 .center {
	 position: absolute;
	 width: 400px;
	 height: 400px;
	 top: 50%;
	 left: 50%;
	 margin-left: -200px;
	 margin-top: -200px;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 padding: 30px;
	 opacity: 0;
	 transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
	 transition-delay: 0s;
	 color: #333;
}
 .center input {
	 width: 100%;
	 padding: 15px;
	 margin: 5px;
	 border-radius: 1px;
	 border: 1px solid #ccc;
	 font-family: inherit;
}
.center h2{
    font-weight: bolder;
    font-size: 40px;
}
.btn{
    background-color: #171d2b;
    margin-top: 5px;
    margin-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}