body{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    font-size: 18px;  
    background: #e1ebf8;
}


#main{
    grid-area: main;
    padding: 0px;
}


#menu{
    grid-area: menu;
    height: 701px;
    background-color: #293545;
    margin: 0;
    padding: 19px;
}

#header{
    grid-area: header;
    background-color: #171d2b;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.container{
    display:grid;
    grid-template-areas: 'header header header header header header header header header header header header header' 
    'menu main main main main main main main main main main main main';    
}

#sitename{
    position: relative;
    display: inline;
    color: #ffffff;
}

#main h1{
    margin: 0px 0px 20px 0px;
    color: black;
}




li {
    list-style-type: none;
    padding: 0px 0px 20px 0px;
}

a{
    color: white;
    text-decoration: auto;    
    display: flex;
    align-items: center;
    height: 40px;
}

.icons{
    width: 20px;
    height: auto;
    display: inline;
    position: relative;
    margin-right: 16px;
}


ul {
    padding: 0;
}

#headerIcon{
    width: 40px;
}

/* menu hidden*/
.hide{
    display: none;
 }

 button {

    padding: 14px 30px;
    border: 0px;
    margin: 20px 0px 0px 0px;
    color: white;
    font-size: 18px;
    font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
    background-color: #000000;
    cursor: pointer;
}


