.contaner{
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

#issues h1 {
    display: inline;
    font-size: 60px;
    margin-left: 30px;
}

#issues h3 {
    display: inline;
    margin-right: 30px;
    margin-left: 30px;
}

#issues button#newIssueBtn{
    background-color: #1d6ccc;
    position: absolute;
    right: 5%;
    margin-top: 0;
}

#issues>.issuesSectionContainers{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

.filterButtons {
    margin-top: 0;
    margin-left: 30px;
    background-color: #e1ebf8;
    color: black;
    border-style: none;
}

div#issues {
    display: inline-block;
    width: 98%;
}

table {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    padding-left: 20px;
}

th {
    text-align: left;
    height: 40px;
    width: auto;
    background-color: #44545c;
    padding: 10px;
    color: white;
}

table, td, th {
    text-align: left;
    height: 40px;
    border-collapse: collapse;
    align-content: center;
}

td{
    border-bottom: 1px solid #00000033;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background-color: white;
    width: 190%;
    margin-left: 43px;
    align-content: center;
     margin-bottom: 50px;
  }