#issues h1 {
    display: inline;
}

#issues h3 {
    display: inline;
    margin-right: 30px;
}

#issues button#cratNewIssue{
    position: absolute;
    right: 5%;
    margin-top: 0;
}

#issues>.issuesSectionContainers{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

.filterButtons {
    margin-top: 0;
    margin-left: 30px;
}

div#issues {
    display: inline-block;
    width: 98%;
}

table {
    width: 100%;
    margin-top: 50px;
    padding: 20px;
}

th {
    text-align: left;
    background-color: cadetblue;
    height: 40px;
    width: auto;
    background-color: #00000011;
    padding: 10px;
}

table, td, th {
    text-align: left;
    height: 40px;
    border-collapse: collapse;
}

td{
    border-bottom: 1px solid #00000033;
}