* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.welcome-wrapper {
  background: #e1ebf8;
  position: absolute;
  top: 8%;
  left: 18%;
  width: 80%;
  height: 92%;
  bottom: 0;
  overflow: hidden;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles #bubble {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color:#212c397c;
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles #bubble:nth-child(1) {
  left: 5%;
}
.bg-bubbles #bubble:nth-child(2) {
  left: 10%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
  animation-duration: 17s;
}
.bg-bubbles #bubble:nth-child(3) {
  left: 15%;
  animation-delay: 4s;
}
.bg-bubbles #bubble:nth-child(4) {
  left: 20%;
  width: 60px;
  height: 60px;
  animation-duration: 22s;
  background-color: #4d8357;
}
.bg-bubbles #bubble:nth-child(5) {
  left: 20%;
}
.bg-bubbles #bubble:nth-child(6) {
  left: 20%;
  width: 120px;
  height: 120px;
  animation-delay: 3s;
  background-color: #4d8357;
}
.bg-bubbles #bubble:nth-child(7) {
  left: 22%;
  width: 160px;
  height: 160px;
  animation-delay: 7s;
}
.bg-bubbles #bubble:nth-child(8) {
  left: 25%;
  width: 20px;
  height: 20px;
  animation-delay: 15s;
  animation-duration: 40s;
}
.bg-bubbles #bubble:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  animation-delay: 2s;
  animation-duration: 40s;
  background-color: #7fb790;
}
.bg-bubbles #bubble:nth-child(10) {
  left: 20%;
  width: 160px;
  height: 160px;
  animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-700px) rotate(600deg);
  }
}

#w{
  font-size: 120px;
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  top: 20%;
  left: 50%;
		transition-duration: 1s;
		transition-timing-function: ease-in-put;
}
#w2{
  font-size: 120px;
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  top: 35%;
  left: 51%;
		transition-duration: 1s;
		transition-timing-function: ease-in-put;
}

#log{
  font-size: 25px;
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  top: 60%;
  left: 52%;
		transition-duration: 1s;
		transition-timing-function: ease-in-put;
		font-weight: 200;
    text-align: left;
}